/*
	General styles
*/
body {
	font-family: "Source Sans Pro", Arial, sans-serif;
	background-color: #f9ebdb;
	font-size: 13px;
}
body, html {
	height: 100%
}

h1, h2, h3, h4 {
	font-family: "Josefin Slab", serif;
}
h1 {
	font-style: italic;
	font-weight: bold;
	font-size: 40px;
}
h2 {
	font-size: 20px;
}
a, a:visited {
	text-decoration: none;
	color: #2e639e;
}
a:hover {
	text-decoration: underline;
}
.paragraphText {
	margin: 3em 10% 10em;
	font-size: 1.5em;
}

.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}